[submodule "ts-skills"]
	path = ts-skills
	url = https://github.com/the-shop/ts-skills.git
[submodule "osx-window-management"]
	path = osx-window-management
	url = https://github.com/the-shop/osx-window-manager.git
[submodule "doom-mac"]
	path = doom-mac
	url = https://github.com/the-shop/doom-mac.git
[submodule "pi-the-shop"]
	path = pi-the-shop
	url = https://github.com/the-shop/pi-the-shop.git
